# Main filee in which the diary is stored
random.diary 

# A backup file in case some error occurs to corrupt the main file. 
# This backup is also encrypted, but is not interacted with by any scripts.
# This file is updated every time the main file is encrypted.
backup.diary

# The temporary key file that is created by diarydecode.py for ease of encryption.
key.temp

# The test diary file in the "web" directory. Used for testing file read and write.
web/test.diary

# God damnit Python, why do you always do this to me?
__pycache__

# I would rather not publish my settings
.vscode